nav {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  margin-top: 1%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
  text-decoration: none;
}
.headers {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content {
  border: grey 1px solid;
  border-radius: 10px;
  background-color: rgb(241, 100, 100);
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50em;
}
.post-title-btn {
  border: 0.5px solid grey;
  border-radius: 50px;
  width: max-content;
}
